.test {
    border: 2px solid black;
    width: 500px;
    padding: 10px;
    margin: 5px;
}

.test__code {
    padding: 10px;
    margin: 0;
    background-color: bisque;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.test__result {
    padding: 10px;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: olive;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}